@importurl {'https://fonts.googaleapis.com/css?faimly=popins:wght@300;400;500;600;700&display=swap'};

body{
  line-height:1.5;
  font-family: 'popins' sans-serif;
  color:white;
}
/* {
  margin:0 px;
  padding:0 px;
  box-sizing:border-box;
} */
.container{
  max-width:1170px;
  background-color: rgb(26, 23, 23);
  margin:auto;
  
}
.row{
  display:flex;
  flex-wrap:wrap;
  
}
.ul{
  list-style: none;
}
html {
  height: 100%;
  width: 100%;
}

.footer{
  background-color: #181616;

}
.footer-col{
  width:25%;
  padding:0 15px;
}
.footer-col h4{
  font-size: 18px;
  color:#f0f0f0;
  text-transform: capitalize;
  margin-bottom:30px;
  font-weight: 500;
  position:relative;
}
.footer-col h4::before{
  content:'';
  position:absolute;
  left:0;
  bottom: -10px;
  background-color:black;
  height:2px;
  box-sizing:border-box;
  width:50px;
}
.footer-col ul li:not(:last-child){
margin-bottom: 10px;
}
.footer-col ul li a{
  font-size:16px;
  text-transform: capitalize;
  color:#ffffff;
  display:block;
  text-decoration:none;
  font-weight:300;
  color:#bbbbbb;
  transition:all 0.3s ease;
  
}
.footer-col ul li a:hover{
color: #ffffff;
padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  margin: 0 10px 10px 0;
 
}
.foot h3{
    color: white;
}